.App {
  text-align: center;
}

.gallery{
  padding: 10px;
}

img{
  margin: 5px;
}

.load-btn{
  background-color: white;
  border-color: black;
  color: black;
  border-radius: 20px;
  width: 150px;
  height: 50px;
  background-color: white;
  border-width: 2px;
  margin-bottom: 5px;
}

.load-btn:hover{
  background-color: #000;
  color: white;
}

.loader{
  display: flex;
  justify-content: center;
  height: 50px;
}